<div id="bottom">
	<span id="copyright">&copy;2014- 2017- T-swirl Crêpe</span>
	<a class="social" href="https://www.facebook.com/tswirlcrepeny">
	<img class="social-img" src="/pictures/Facebook.png">
	</a>
	<a class="social" href="https://twitter.com/tswirlcrepe">
	<img class="social-img" src="/pictures/Twitter.jpg">
	</a>
	<a class="social" href="http://instagram.com/tswirlcrepe">
	<img class="social-img" src="/pictures/Instagram.jpg">
	</a>
</div>