<div id="form-background">
	<form id="contact-form">
		Your Email:</br>
		<input type="text" name="email" id="email"></br>	
		Subject:</br>
		<input type="text" name="subject" id="subject" size="60"></br>
		Message:</br>
		<textarea rows="5" cols="60" type="text" name="message" id="message"></textarea></br>
		<input type="submit" id="submit">
	</form>
</div>