<div>
	<form>
		Name:
		<input type="text" name="name" id="name"></br>	
		Subject:
		<input type="text" name="subject" id="subject"></br>
		Message:
		<input type="text" name="message" id="message"></br>
		<input type="submit" id="submit">
	</form>
</div>