<div class="container">

<h1><center> SAVORY </center></h1>
<div class="crepe" id="a">
<header>
<img class="food" src="/pictures/ChickenTeriyaki.png"/>
</header>
<footer>
Chicken Teriyaki 
</footer>
</div>

<div class="crepe" id="b">
<header>
<img class="food" src="/pictures/ThaiChicken.png"/>
</header>
<footer>
Thai Chicken
</footer>
</div>


<div class="crepe" id="c">
<header>
<img class="food" src="/pictures/ShrimpAvocado.png"/>
</header>
<footer>
Shrimp Avocado
</footer>
</div>

<div class="crepe" id="d">
<header>
<img class="food" src="/pictures/Angus-Short-Ribs.png"/>
</header>
<footer>
Angus Short Ribs
</footer>
</div>


<div class="crepe" id="e">
<header>
<img class="food" src="/pictures/BLT.png"/>
</header>
<footer>
BLT Swirl
</footer>
</div>

<div class="crepe" id="f">
<header>
<img class="food" src="/pictures/VegetarianLover.png"/>
</header>
<footer>
Vegetarian Lover
</footer>
</div>


<div class="crepe" id="g">
<header>
<img class="food" src="/pictures/SmokedSalmon.png"/>
</header>
<footer>
Smoked Salmon
</footer>
</div>

<div class="crepe" id="h">
<header>
<img class="food" src="/pictures/TunaNicoise.png"/>
</header>
<footer>
Tuna Nicoise
</footer>
</div>

<div class="crepe" id="i">
<header>
<img class="food" src="/pictures/DoubleEggs.png"/>
</header>
<footer>
Double Eggs
</footer>
</div>

<div class="crepe" id="j">
<header>
<img class="food" src="/pictures/EggWhiteMushroom.png"/>
</header>
<footer>
Egg White Mushroom
</footer>
</div>

<div class="crepe" id="k">
<header>
<img class="food" src="/pictures/OkinawaHotDog.png"/>
</header>
<footer>
Okinawa Hot Dog
</footer>
</div>


<br>
<h1><center> SWEETS </center></h1>

<div class="crepe" id="l">
<header>
<img class="food" src="/pictures/MangoRaspberries.png"/>
</header>
<footer>
Mango Raspberries
</footer>
</div>

<div class="crepe" id="m">
<header>
<img class="food" src="/pictures/MatchaAzukiBean.png"/>
</header>
<footer>
Matcha Azuki Bean
</footer>
</div>

<div class="crepe" id="n">
<header>
<img class="food" src="/pictures/BananaChocolate.png"/>
</header>
<footer>
Banana Chocolate
</footer>
</div>

<div class="crepe" id="o">
<header>
<img class="food" src="/pictures/WildBerries.png"/>
</header>
<footer>
Wild Berries
</footer>
</div>


<div class="crepe" id="p">
<header>
<img class="food" src="/pictures/MatchaChocolateTruffle.png"/>
</header>
<footer>
Matcha Chocolate Truffle
</footer>
</div>

<div class="crepe" id="q">
<header>
<img class="food" src="/pictures/CaramelFujiApple.png"/>
</header>
<footer>
Caramel Fuji Apples
</footer>
</div>

<div class="crepe" id="r">
<header>
<img class="food" src="/pictures/LycheeRomantic.png"/>
</header>
<footer>
Lychee Romantic
</footer>
</div>

<div class="crepe" id="s">
<header>
<img class="food" src="/pictures/StrawberryBanana.png"/>
</header>
<footer>
Strawberry Banana
</footer>
</div>

<div class="crepe" id="t">
<header>
<img class="food" src="/pictures/BlueberryNYCheesecake.png"/>
</header>
<footer>
Blueberry NY Cheesecake
</footer>
</div>

<div class="crepe" id="u">
<header>
<img class="food" src="/pictures/ChocolateNutParty.png"/>
</header>
<footer>
Chocolate Nut Party
</footer>
</div>

<div class="crepe" id="v">
<header>
<img class="food" src="/pictures/FruitsCocktail.png"/>
</header>
<footer>
Fruits Cocktail
</footer>
</div>

</div>

<div class="description" id="one"><h3>X</h3><p>Sliced Chicken Breast, Baby Spinach, Julienned Carrots, Corn, Red Onions, Organic Boiled Eggs, Crunchy Shallots, Sesame Seed, Sesame Dressing, Teriyaki Sauce
<br>
★ Additional
Organic Boiled Egg, Avocado, Cheddar Cheese, Boiled Asparagus
<br>
★ Additional
Sliced Chicken Breast, Shrimp, Bacon, Okinawa Hot Dog, Salmon</p>
</div>


<div class="description" id="two"><h3>X</h3><p>Sliced Chicken Breast, Baby Spinach, Julienned Carrots, Corn, Red Onions, Organic Boiled Eggs, Crunchy Shallots, Sesame Seed, Sesame Dressing, Teriyaki Sauce
<br>
★ Additional
Organic Boiled Egg, Avocado, Cheddar Cheese, Boiled Asparagus
<br>
★ Additional
Sliced Chicken Breast, Shrimp, Bacon, Okinawa Hot Dog, Salmon</p>
</div>

<div class="description" id="three"><h3>X</h3><p>Sliced Chicken Breast, Baby Spinach, Julienned Carrots, Corn, Red Onions, Organic Boiled Eggs, Crunchy Shallots, Sesame Seed, Sesame Dressing, Teriyaki Sauce
<br>
★ Additional
Organic Boiled Egg, Avocado, Cheddar Cheese, Boiled Asparagus
<br>
★ Additional
Sliced Chicken Breast, Shrimp, Bacon, Okinawa Hot Dog, Salmon</p>
</div>

<div class="description" id="four"><h3>X</h3><p>Sliced Chicken Breast, Baby Spinach, Julienned Carrots, Corn, Red Onions, Organic Boiled Eggs, Crunchy Shallots, Sesame Seed, Sesame Dressing, Teriyaki Sauce
<br>
★ Additional
Organic Boiled Egg, Avocado, Cheddar Cheese, Boiled Asparagus
<br>
★ Additional
Sliced Chicken Breast, Shrimp, Bacon, Okinawa Hot Dog, Salmon</p>
</div>

<div class="description" id="five"><h3>X</h3><p>Sliced Chicken Breast, Baby Spinach, Julienned Carrots, Corn, Red Onions, Organic Boiled Eggs, Crunchy Shallots, Sesame Seed, Sesame Dressing, Teriyaki Sauce
<br>
★ Additional
Organic Boiled Egg, Avocado, Cheddar Cheese, Boiled Asparagus
<br>
★ Additional
Sliced Chicken Breast, Shrimp, Bacon, Okinawa Hot Dog, Salmon</p>
</div>

<div class="description" id="six"><h3>X</h3><p>Sliced Chicken Breast, Baby Spinach, Julienned Carrots, Corn, Red Onions, Organic Boiled Eggs, Crunchy Shallots, Sesame Seed, Sesame Dressing, Teriyaki Sauce
<br>
★ Additional
Organic Boiled Egg, Avocado, Cheddar Cheese, Boiled Asparagus
<br>
★ Additional
Sliced Chicken Breast, Shrimp, Bacon, Okinawa Hot Dog, Salmon</p>
</div>

<div class="description" id="seven"><h3>X</h3><p>Sliced Chicken Breast, Baby Spinach, Julienned Carrots, Corn, Red Onions, Organic Boiled Eggs, Crunchy Shallots, Sesame Seed, Sesame Dressing, Teriyaki Sauce
<br>
★ Additional
Organic Boiled Egg, Avocado, Cheddar Cheese, Boiled Asparagus
<br>
★ Additional
Sliced Chicken Breast, Shrimp, Bacon, Okinawa Hot Dog, Salmon</p>
</div>

<div class="description" id="eight"><h3>X</h3><p>Sliced Chicken Breast, Baby Spinach, Julienned Carrots, Corn, Red Onions, Organic Boiled Eggs, Crunchy Shallots, Sesame Seed, Sesame Dressing, Teriyaki Sauce
<br>
★ Additional
Organic Boiled Egg, Avocado, Cheddar Cheese, Boiled Asparagus
<br>
★ Additional
Sliced Chicken Breast, Shrimp, Bacon, Okinawa Hot Dog, Salmon</p>
</div>

<div class="description" id="nine"><h3>X</h3><p>Two Scrambled Organic Eggs, Chopped Iceberg Lettuce, Cheddar Cheese, Kosher Salt, Tofu Sauce
<br>
★ Additional
Organic Boiled Egg, Avocado, Cheddar Cheese, Boiled Asparagus
<br>
★ Additional
Sliced Chicken Breast, Shrimp, Bacon, Okinawa Hot Dog, Salmon</p>
</div>

<div class="description" id="ten"><h3>X</h3><p>Egg White, Fresh Shiitake Mushrooms, Baby Spinach, Truffle Oil, Cheddar Cheese, Tofu Sauce
<br>
★ Additional
Organic Boiled Egg, Avocado, Cheddar Cheese, Boiled Asparagus
<br>
★ Additional
Sliced Chicken Breast, Shrimp, Bacon, Okinawa Hot Dog, Salmon</p>
</div>

<div class="description" id="eleven"><h3>X</h3><p>Sliced Chicken Breast, Baby Spinach, Julienned Carrots, Corn, Red Onions, Organic Boiled Eggs, Crunchy Shallots, Sesame Seed, Sesame Dressing, Teriyaki Sauce
<br>
★ Additional
Organic Boiled Egg, Avocado, Cheddar Cheese, Boiled Asparagus
<br>
★ Additional
Sliced Chicken Breast, Shrimp, Bacon, Okinawa Hot Dog, Salmon</p>
</div>

<div class="description" id="twelve"><h3>X</h3><p>Sliced Chicken Breast, Baby Spinach, Julienned Carrots, Corn, Red Onions, Organic Boiled Eggs, Crunchy Shallots, Sesame Seed, Sesame Dressing, Teriyaki Sauce
<br>
★ Additional
Organic Boiled Egg, Avocado, Cheddar Cheese, Boiled Asparagus
<br>
★ Additional
Sliced Chicken Breast, Shrimp, Bacon, Okinawa Hot Dog, Salmon</p>
</div>

<div class="description" id="thirdteen"><h3>X</h3><p>Sliced Chicken Breast, Baby Spinach, Julienned Carrots, Corn, Red Onions, Organic Boiled Eggs, Crunchy Shallots, Sesame Seed, Sesame Dressing, Teriyaki Sauce
<br>
★ Additional
Organic Boiled Egg, Avocado, Cheddar Cheese, Boiled Asparagus
<br>
★ Additional
Sliced Chicken Breast, Shrimp, Bacon, Okinawa Hot Dog, Salmon</p>
</div>

<div class="description" id="fourteen"><h3>X</h3><p>Sliced Chicken Breast, Baby Spinach, Julienned Carrots, Corn, Red Onions, Organic Boiled Eggs, Crunchy Shallots, Sesame Seed, Sesame Dressing, Teriyaki Sauce
<br>
★ Additional
Organic Boiled Egg, Avocado, Cheddar Cheese, Boiled Asparagus
<br>
★ Additional
Sliced Chicken Breast, Shrimp, Bacon, Okinawa Hot Dog, Salmon</p>
</div>

<div class="description" id="fifteen"><h3>X</h3><p>Sliced Chicken Breast, Baby Spinach, Julienned Carrots, Corn, Red Onions, Organic Boiled Eggs, Crunchy Shallots, Sesame Seed, Sesame Dressing, Teriyaki Sauce
<br>
★ Additional
Organic Boiled Egg, Avocado, Cheddar Cheese, Boiled Asparagus
<br>
★ Additional
Sliced Chicken Breast, Shrimp, Bacon, Okinawa Hot Dog, Salmon</p>
</div>

<div class="description" id="sixteen"><h3>X</h3><p>Sliced Chicken Breast, Baby Spinach, Julienned Carrots, Corn, Red Onions, Organic Boiled Eggs, Crunchy Shallots, Sesame Seed, Sesame Dressing, Teriyaki Sauce
<br>
★ Additional
Organic Boiled Egg, Avocado, Cheddar Cheese, Boiled Asparagus
<br>
★ Additional
Sliced Chicken Breast, Shrimp, Bacon, Okinawa Hot Dog, Salmon</p>
</div>

<div class="description" id="seventeen"><h3>X</h3><p>Sliced Chicken Breast, Baby Spinach, Julienned Carrots, Corn, Red Onions, Organic Boiled Eggs, Crunchy Shallots, Sesame Seed, Sesame Dressing, Teriyaki Sauce
<br>
★ Additional
Organic Boiled Egg, Avocado, Cheddar Cheese, Boiled Asparagus
<br>
★ Additional
Sliced Chicken Breast, Shrimp, Bacon, Okinawa Hot Dog, Salmon</p>
</div>

<div class="description" id="eighteen"><h3>X</h3><p>Sliced Chicken Breast, Baby Spinach, Julienned Carrots, Corn, Red Onions, Organic Boiled Eggs, Crunchy Shallots, Sesame Seed, Sesame Dressing, Teriyaki Sauce
<br>
★ Additional
Organic Boiled Egg, Avocado, Cheddar Cheese, Boiled Asparagus
<br>
★ Additional
Sliced Chicken Breast, Shrimp, Bacon, Okinawa Hot Dog, Salmon</p>
</div>

<div class="description" id="nineteen"><h3>X</h3><p>Sliced Chicken Breast, Baby Spinach, Julienned Carrots, Corn, Red Onions, Organic Boiled Eggs, Crunchy Shallots, Sesame Seed, Sesame Dressing, Teriyaki Sauce
<br>
★ Additional
Organic Boiled Egg, Avocado, Cheddar Cheese, Boiled Asparagus
<br>
★ Additional
Sliced Chicken Breast, Shrimp, Bacon, Okinawa Hot Dog, Salmon</p>
</div>

<div class="description" id="twenty"><h3>X</h3><p>Sliced Chicken Breast, Baby Spinach, Julienned Carrots, Corn, Red Onions, Organic Boiled Eggs, Crunchy Shallots, Sesame Seed, Sesame Dressing, Teriyaki Sauce
<br>
★ Additional
Organic Boiled Egg, Avocado, Cheddar Cheese, Boiled Asparagus
<br>
★ Additional
Sliced Chicken Breast, Shrimp, Bacon, Okinawa Hot Dog, Salmon</p>
</div>

<div class="description" id="twentyone"><h3>X</h3><p>Sliced Chicken Breast, Baby Spinach, Julienned Carrots, Corn, Red Onions, Organic Boiled Eggs, Crunchy Shallots, Sesame Seed, Sesame Dressing, Teriyaki Sauce
<br>
★ Additional
Organic Boiled Egg, Avocado, Cheddar Cheese, Boiled Asparagus
<br>
★ Additional
Sliced Chicken Breast, Shrimp, Bacon, Okinawa Hot Dog, Salmon</p>
</div>

<div class="description" id="twentytwo"><h3>X</h3><p>Sliced Chicken Breast, Baby Spinach, Julienned Carrots, Corn, Red Onions, Organic Boiled Eggs, Crunchy Shallots, Sesame Seed, Sesame Dressing, Teriyaki Sauce
<br>
★ Additional
Organic Boiled Egg, Avocado, Cheddar Cheese, Boiled Asparagus
<br>
★ Additional
Sliced Chicken Breast, Shrimp, Bacon, Okinawa Hot Dog, Salmon</p>
</div>


