<div id="welcome">
	<h1>Welcome to T-Swirl Crepe</h1>
	<h3>Nature's Perfect Food</h3>
</div>
<div id="welcome-img">
	<img class="home-img" src=""></img>
	<img class="home-img" src=""></img>
	<img class="home-img" src=""></img>
</div>