<div id="welcome-background">
	<div id="welcome">
		<h1 id="home-title">Welcome to T-Swirl Cr&#234;pe</h1>
		<h3 id="home-subtitle">Nature's Perfect Food</h3>
	</div>
	<div id="welcome-img">
		<img class="home-img" src="/pictures/home2.png" /><img class="home-img" src="/pictures/home1.png" /><img class="home-img" src="/pictures/home3.jpg" />
	</div>
</div>