<!DOCTYPE html>
<html>
	<head>
		<title>T-Swirl Crepes</title>
		<link rel="stylesheet" type="text/css" href="/css/default.css"/>
	</head>
	<body>
		<%= erb :nav %>
		<%= yield %>
		<%= 
	</body>
</html>