<!DOCTYPE html>
<html>
	<head>
		<title>T-Swirl Crepes</title> //change e to e with circumflex
		<link rel="stylesheet" href="default.css"/>
	</head>
	<body>
		<%= erb :nav %>
		<%= yield %>
	</body>
</html>