<!DOCTYPE html>
<html>
	<head>
		<title>T-Swirl Cr&#234;pes</title>
		<link rel="stylesheet" type="text/css" href="/css/default.css"/>
	</head>
	<body>
		<%= erb :nav %>
		<%= yield %>
		<%= erb :bottom %>
		<script src="main.js"></script>
	</body>
</html>