<div class="store">

<div class="local">
<header><img class="location" src="/pictures/14thStNY.png"/></header>
<footer>
<center><h5>Address: 247 E14th St. 
<br>New York, NY 10003
<br>Tel: 212-614-0200
<br>Open Hours: 11am-11pm</h5></center>
</footer></div>


<div class= "local">
<header><img class="location" src="/pictures/ChinaTownNY.png"/></header>
<footer>
<center><h5>Address: 2 Mott St. 
<br>New York, NY 10013
<br>Tel: 646-726-4166
<br>Open Hours: 11am-11pm</h5></center>
</footer>
</div>

<div class="local">
<header><img class="location" src="/pictures/AstoriaNY.png"/></header>
<footer>
<center><h5>Address: 36-16 30th Ave.
<br>Astoria, NY 11103
<br>Tel: 917-832-6815
<br>Open Hours: 11am-11pm(Sun-Thu)</h5></center>	
</footer>
</div>



<div class="local">
<header>
<img class="location" src="/pictures/FlushingNY.png"/></header>
<footer>
<center><h5>Address: 40-80 Union St. 
<br>Flushing, NY 11354
<br>Tel: 917-285-2521
<br>Open Hours: 11am-11pm
</h5></center>
</footer>
</div>

<div class="local">
<header>
<img class="location" src="/pictures/ForestHillNY.png"/></header>
<footer>
<center><h5>Address: 70-23 Austin St. 
<br>Forest Hills, NY 11375
<br>Tel: 718-261-8888
<br>Open Hours: 11am-11pm</h5></center>
</footer>
</div>

<div class="local">
<header>
<img class="location" src="/pictures/FortleeNJ.png"/></header>
<footer>
<center><h5>Address: 244 Main St. 
<br>Fort Lee, NJ 07024
<br>Tel: 201-363-8838
<br>Open Hours: 11am-11pm</h5></center>
</footer>
</div>

<div class="local">
<header>
<img class="location" src="/pictures/PhiladelphiaPA.png"/></header>
<footer>
<center><h5>Address: 150N 10th St. 
<br>Philadelphia, PA
<br>Tel: 215-238-0111
<br>Open Hours: 11am-11pm</h5></center>
</footer>
</div>


<div class="local">
<header>
<img class="location" src="/pictures/CupertinoCA.png"/></header>
<footer>
<center><h5>Address: 19650 Stevens Ck Blvd. 
<br>Cupertino, CA 95014
<br>Tel: 408-898-4419
<br>Open Hours: 11am-11pm</h5></center>
</footer>
</div>

</div>











