<div id="navbar">
	<div><img id="nav-logo" src="/pictures/crepelogo.png"></img></div>
	<div class="nav-items"><a href="/" class="nav-links">Home</a></div>
	<div class="nav-items"><a href="/gallery" class="nav-links">Gallery</a></div>
	<div class="nav-items"><a href="/locations" class="nav-links">Locations</a></div>
	<div class="nav-items"><a href="/contact" class="nav-links">Contact</a></div>
</div>
